@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Lora:wght@500;553&family=Open+Sans&family=Poppins&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&family=Rubik+Burned&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "Roboto Slab", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
}

body {
    background-color: #addde4;
    /* display: flex; */
    /* justify-content: center; */
    width: 90%;
    margin: auto;
}

.wrapper {
    /* width: 90%; */
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.menu {
    width: 18%;
    background-color: #d8d6d6;
    padding: 30px 0px 0px 20px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.main {
    display: flex;
    flex-flow: column;
    width: 90%;
}

.header {
    background-color: rgb(252, 249, 249);
    /* min-height: 160px; */
    /* line-height: 0; */
    /* width: 100%; */
    display: flex;
}

.header .image, .imageAbout {
    display: inline-block;
    /* margin-left: -4px; */
}

.header div img {
    height: 163px;
    width: 100.9%;
}

.imageAbout {
    overflow: hidden;
}

.header .imageAbout img {
    height: 163px;
    /* width: 306px; */
    width: 100%;
    /* object-fit: contain; */
}

.marca {
    width: 23%;
    padding: 0 1rem;
}

.content {
    background-color: white;
    /* min-height: 300px; */
    padding: 20px 25px;
    text-align: justify;
}

h1, h2 {
    margin: 1rem 0;
}

h3 {
    margin: 0.8rem 0;
}

.content ol {
    padding-left: 20px;
}

.content-contact {
    display: flex;
    gap: 10px;
}

.contact {
    display: inline-block;
    flex: 1;
}

.contact legend {
    padding: 0 10px;
}

.contact form {
    padding: 10px;
}

.contact textarea {
    padding: 5px 10px;
}

.contact button {
    padding: 5px 10px;
}

.table {
    text-align: center;
    border: solid 1px black;
    margin-top: 10px;
}

.table th, td {
    border: solid 1px black;
    padding: 5px;
}

table thead th {
    background-color: black;
    color: white;
}
table tfoot td {
    background-color: lightgray;
}
table tbody tr:nth-child(even) td {
    background-color: #f1f1f1;
}
table tbody tr:hover td {
    background-color: #E9E9E9;
    cursor: pointer;
}

.footer {
    background-color: rgb(32, 22, 68);
    min-height: 80px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer div {
    display: inline-block;
    margin: 20px 0;
    
}

.footer div h5 blockquote {
    text-align: center;
}

.video {
    text-align: center;
}

/* .footer p {
    margin-left: 30px;
} */